[Unit]
Description=The henry.sites landing page

Wants=network.target
After=network.target

[Service]
Type=simple
# This is bad, and I feel bad
User=root
WorkingDirectory=go/src/github.com/HenrySlawniak/henry.sites/
ExecStart=go/src/github.com/HenrySlawniak/henry.sites/systemd.sh
Restart=on-abort
KillMode=control-group
SuccessExitStatus=0 1

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found
ReadWriteDirectories=go/src/github.com/HenrySlawniak/henry.sites/
WorkingDirectory=go/src/github.com/HenrySlawniak/henry.sites/

[Install]
WantedBy=multi-user.target
