@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato:300');
html, body {
  min-height: 100vh;
  margin: 0;
}

html {
  background: #00838F;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  background: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
